  a{background-color: rgb(224, 178, 213); color: rgb(83, 41, 199);}
h2{background-color: brown; color: rgb(48, 180, 70); text-align: center;}
p{color: rgb(29, 134, 233);}
form{background-color: antiquewhite; text-align: center;}